# Python-specific
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.env
meet/
# Streamlit
.streamlit/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp